pysqlite3-binary
langchain
langchain-openai
langchain-groq
langchain_community
streamlit
gtts
pydub
groq
Pillow
sendgrid
moviepy
requests
pypandoc
opencv-python-headless
opencv-python
numpy
openai
google-api-python-client
google-auth
google-auth-oauthlib    
google-auth-httplib2