pysqlite3-binary
embedchain
crewai==0.36.1
crewai-tools
langchain-openai
langchain-groq
streamlit
gtts
pydub
groq
Pillow
sendgrid
moviepy
requests
pypandoc
opencv-python-headless
opencv-python
numpy
openai
google-api-python-client
google-auth
google-auth-oauthlib    
google-auth-httplib2